[submodule "GUI Version/HzzGrader"]
	path = GUI Version/HzzGrader
	url = C:\\Users\\Hzz\\Documents\\GitHub\\SDA
[submodule "\\Users\\Hzz\\Documents\\GitHub\\SDA\\GUI Version\\HzzGrader"]
	path = \\Users\\Hzz\\Documents\\GitHub\\SDA\\GUI Version\\HzzGrader
	url = C:\\Users\\Hzz\\Documents\\GitHub\\SDA\\GUI Version\\HzzGrader
